compile = "javac -classpath .:target/dependency/* -d . $(find . -type f -name '*.java')"
run = "java -classpath .:target/dependency/* Main"
entrypoint = "src/main/java/Main.java"
hidden = ["**/*.class"]
modules = ["dotnet-7.0", "angular-node-20", "bun-1.1", "bun-1.0", "c-clang14", "cpp-clang14", "clojure-1.11", "dart-3.4", "dart-3.3", "dart-3.2", "dart-2.18", "haskell-ghc9.2", "haskell-ghc9.0", "haskell-ghc9.6", "gcloud", "go-1.19", "go-1.20", "go-1.21", "elixir-1_16", "elixir-1_15", "deno-1", "php-8.2", "nodejs-14", "nodejs-19", "nodejs-20", "nix", "lua-5.2", "java-graalvm22.3", "haskell-ghc9.4", "nodejs-16", "nodejs-18", "nodejs-with-prybar-18", "python-with-prybar-3.10", "python-3.9", "python-3.8", "python-3.12", "python-3.11", "python-3.10", "qbasic", "r-4.3", "r-4.2", "replit-rtld-loader", "ruby-3.1", "rust-nightly", "zig-0.11", "pyright-extended", "web", "vue-node-18", "vue-node-20", "typescript-language-server", "php-8.1", "bash", "swift-5.8", "swift-5.6", "svelte-kit-node-20", "docker", "hermit-0.38.2", "ruby-3.2", "rust-stable"]

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

[unitTest]
language = "java"

[nix]
channel = "stable-22_11"

[debugger]
support = true

[debugger.compile]
command = "javac -classpath .:/run_dir/junit-4.12.jar:target/dependency/* -g -d . $(find . -type f -name '*.java')"

[debugger.interactive]
transport = "localhost:0"
connectTimeout = 60
startCommand = "java-debug"

[debugger.interactive.initializeMessage]
command = "initialize"
type = "request"

[debugger.interactive.initializeMessage.arguments]
adapterID = "cppdbg"
clientID = "replit"
clientName = "replit.com"
columnsStartAt1 = true
linesStartAt1 = true
locale = "en-us"
pathFormat = "path"
supportsInvalidatedEvent = true
supportsProgressReporting = true
supportsRunInTerminalRequest = true
supportsVariablePaging = true
supportsVariableType = true

[debugger.interactive.launchMessage]
command = "launch"
type = "request"

[debugger.interactive.launchMessage.arguments]
classPaths = ["."]
mainClass = "Main"

[deployment]
build = ["javac", "-classpath", ".:target/dependency/*", "-d", ".", "$(find . -type f -name '*.java')"]
run = ["java", "-classpath", ".:target/dependency/*", "Main"]
deploymentTarget = "cloudrun"
